.Product-container{
    margin: 0.5% ;
    border: 1px solid lightgray;
    width: 24%;
    float: left;
    text-align: center;
    padding: 8px ;
}
.Product-container img{
    width: 100%;
}
.Product-container h2{
    font-size: 28px;
    margin-bottom: 10px;
}
.Product-container p{
    font-size: 18px;
    margin-bottom: 15px;
    color: gray;
}
.Product-container div{
    display: flex;
    justify-content: space-between;
}
.Product-container label{
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
}
.Product-container select{
    width: 28%;
    font-size: 18px;
}
.Product-container button{
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius: 8px;
    padding: 8px 20px;
}