.items-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 30px auto;
}

.items-container select {
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: cyan;
}

.items-container span {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.items-container button {
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: blue;
    color: white;
    padding: 7px 20px;

}

.items-container p {
    font-size: 24px;
}